#chatContainer{
	width: 50%;
	display: flex;
	height: 300px;
}

#mainChat{
	border: 1px solid silver;
	width: 70%;
	overflow-x: auto;
	overflow-y: auto;
}

#chatVisitors{
	flex-grow: 1;
	border: 1px solid silver;
	overflow-y: auto;
}

#loginResult{
	color: #ff0000;
}

#sendForm{
	width: 50%;
}

#submitTextLabel{
	display: inline-block;
	width: 70%;
}

#submitTextField{
}

.chatUsername{
	color: #2860DE;
}

.chatVisitor{
	color: #17AD1C;
}